
.ui-filter-inset {
    margin-top: 0;
}

.ui-footer {
    margin-bottom: 20px;
}

.voted .ui-li-count {
    background-color: #00dd00
}

#messages {
    margin: 0px;
    padding: 0px;
    border: none;
    background: none;
}

.message {
    margin: 0px 10px 5px 10px;;
    padding: 7px;
    border: 1px solid #ffffff;
    text-align: center;
    border-radius: 5px;
}

.status {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.error {
    background-color: #f2dede;
    color: #b94a48;
    border-color: #eed3d7;
}

.warning {
    background-color: #ffffdd;
    color: #cccc00;
    border-color: #eed3d7;
}

