<!doctype html>
<html>
  <head>
    {% include _html/head.html %}
  </head>
  <body>
    <!-- page -->
    <div data-role="page" id="vocabulary">
      
      <!-- header -->
      <div data-role="header" data-position="fixed">
        <h1>Fjalori ICT</h1>

        <a href="#" id="next" class="ui-btn ui-btn-b ui-nodisc-icon ui-btn-left ui-icon-refresh ui-btn-icon-notext" style="border-radius: 5px;">Next</a>

	<a href="#popupMenu" id="menuButton" data-rel="popup" class="ui-btn ui-btn-b ui-nodisc-icon ui-btn-right ui-icon-bars ui-btn-icon-notext" style="border-radius: 5px;">Menu</a>
	<div data-role="popup" id="popupMenu" data-theme="none" data-shadow="false"></div>
      </div><!-- /header -->
      
      <!-- content -->
      <div data-role="main" class="ui-content">
        {% include _html/search.html %}
        {% include _html/suggestions.html %}
        {% include _html/translations.html %}
        {% include _html/translation_details.html %}
        {% include _html/disqus.html %}
      </div><!-- /content -->

      <!-- messages -->
      <div data-role="footer" id="messages" data-position="fixed"></div>
      <div id="status-line"></div>
      <img id="picture">

      {% include _html/settings.html %}

    </div><!-- /page -->

    {% include _html/menu.html %}
    {% include _html/login.html %}

  </body>
</html>
